.main_nav{
    display: flex;
}
.navigation_item{
    display: flex;
    flex-grow: 1;
}
.navigation_item_a{
    display: block;
    color:black;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color .15s ease;
    text-transform: uppercase;
}
.navigation_item_a:hover{
    background: #f1f1f1;
}

@media screen and (max-width: 546px){
    .navigation_item{
        flex-basis: 20%;
    }
    .navigation_item_a{
        font-size: 0.8rem;
    }
}